<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="false">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <h4 class="font-weight-bolder text-white mb-0"><%= name %></h4>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
      <ul class="navbar-nav justify-content-end" data-controller="sidenav">
        <li class="nav-item d-xl-none ps-3 pe-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-white p-0" 
             data-action="click->sidenav#toggle" 
            data-sidenav-target="toggle">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
            </div>
          </a>
        </li>
        <li class="nav-item d-flex align-items-center px-3">
          <%= link_to "/", class: "nav-link text-white font-weight-bold px-0" do%>
            <i class="fa fa-globe me-sm-1"></i>
            <span class="d-sm-inline d-none">Site</span>
          <%end%>
        </li>
        <li class="nav-item d-flex align-items-center px-3">
          <%= link_to sign_up_admin_login_index_path, class: "nav-link text-white font-weight-bold px-0" do%>
            <i class="fa fa-sign-out me-sm-1"></i>
            <span class="d-sm-inline d-none">Sair</span>
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
