<div id="contact" class="container-xxl py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center height-self-center">
      <div class="col-12">
        <h2 class="text-center mb-4">Selecione sua área de acesso</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <a href="javascript:window.location.href='/beneficiario'" class="text-decoration-none">
              <div class="bg-light rounded h-100 p-4 text-center hover-shadow">
                <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 60px; height: 60px;">
                  <i class="fas fa-user fa-2x text-white"></i>
                </div>
                <h5 class="mb-3">Beneficiários <br> (Empresa / Cesteiro)</h5>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:window.location.href='/cliente'" class="text-decoration-none">
              <div class="bg-light rounded h-100 p-4 text-center hover-shadow">
                <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 60px; height: 60px;">
                  <i class="fas fa-user fa-2x text-white"></i>
                </div>
                <h5 class="mb-3">Cliente Digno</h5>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:window.location.href='/admin'" class="text-decoration-none">
              <div class="bg-light rounded h-100 p-4 text-center hover-shadow">
                <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 60px; height: 60px;">
                  <i class="fas fa-user-shield fa-2x text-white"></i>
                </div>
                <h5 class="mb-3">Administrativa</h5>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:window.location.href='/cesteiro'" class="text-decoration-none">
              <div class="bg-light rounded h-100 p-4 text-center hover-shadow">
                <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 60px; height: 60px;">
                  <i class="fas fa-box fa-2x text-white"></i>
                </div>
                <h5 class="mb-3">Cesteiro</h5>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:window.location.href='/vendedor'" class="text-decoration-none">
              <div class="bg-light rounded h-100 p-4 text-center hover-shadow">
                <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 60px; height: 60px;">
                  <i class="fas fa-store fa-2x text-white"></i>
                </div>
                <h5 class="mb-3">Vendedor / Cesteiro</h5>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:window.location.href='/sindicato'" class="text-decoration-none">
              <div class="bg-light rounded h-100 p-4 text-center hover-shadow">
                <div class="rounded-circle bg-primary d-flex align-items-center justify-content-center mx-auto mb-4" style="width: 60px; height: 60px;">
                  <i class="fas fa-building fa-2x text-white"></i>
                </div>
                <h5 class="mb-3">Associações, Sindicatos e Empresas</h5>
              </div>
            </a>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>